In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib as plt

In [4]:
rec0= pd.read_csv("nexo_transactions.csv")

In [5]:
df0= rec0.rename(columns={"Outstanding Loan":"Loan", "Date / Time":"Date"}) #rename column name

In [6]:
df0["Date"] = pd.to_datetime(df0["Date"]) #convert date time

In [7]:
df0.replace({'NEXONEXO':'NEXO'}, regex = True, inplace = True)  #replace NEXO

In [8]:
df0.replace({'NEXOBEP2':'NEXO'}, regex = True, inplace = True)  #replace NEXOBEP2

In [9]:
df0.replace({'NEXOUSDTERC':'NEXO'}, regex = True, inplace = True)  #replace NEXOUSDTERC

In [10]:
df0.replace({'\$':''}, regex = True, inplace = True)  #replace $

In [11]:
df0['Loan'] = df0['Loan'].astype('float64')

In [12]:
#rec.info()

In [13]:
df0.head(5)

,Transaction,Type,Currency,Amount,USD Equivalent,Details,Loan,Date
0,NXTx1hHFv3LCT,Interest,NEXO,0.094201,0.26028008480838,approved / 0.22127317 EURx,3488.49,2021-04-05 01:00:03
1,NXTAXFw7FXTT0,Interest,NEXO,0.054542,0.15070211953524,approved / 0.00007234 ETH,3488.49,2021-04-05 01:00:03
2,NXThKvQuIYaXP,Interest,NEXO,0.022573,0.06236922552042,approved / 0.04511758 GBPx,3488.49,2021-04-05 01:00:03
3,NXT3tJg8TIqBP,Interest,NEXO,0.085492,0.23621660936874,approved / 0.00000403 BTC,3488.49,2021-04-05 01:00:03
4,NXTgQVAbnHMUa,Interest,USD,-0.570000,0.57,approved / Interest,3488.49,2021-04-05 00:00:02

Locking deposit

In [14]:
df0.query("Type =='LockingTermDeposit'")

,Transaction,Type,Currency,Amount,USD Equivalent,Details,Loan,Date
98,NXTufZnokKgMh,LockingTermDeposit,LTC,-0.800000,162.4240848,approved / Transfer from Savings Wallet to Ter...,3479.37,2021-03-20 08:26:43
103,NXTRacjzf9t2R,LockingTermDeposit,LINK,-3.712485,114.61590052428,approved / Transfer from Savings Wallet to Ter...,3479.37,2021-03-20 08:17:48
115,NXTmlv9eWjnqY,LockingTermDeposit,PAXG,-0.030994,54.279859891393,approved / Transfer from Savings Wallet to Ter...,3478.23,2021-03-18 05:56:53
117,NXTNSVFsgXnIf,LockingTermDeposit,NEXOBNB,-1.076521,294.65963778961,approved / Transfer from Savings Wallet to Ter...,3478.23,2021-03-18 05:53:23

In [15]:
df0[['Currency','Type']].groupby(by='Currency').count()

             Type
Currency
BCH           109
BNB            10
BNBN            7
BTC           153
BTCDAI          1
BTCEURX         6
BTCGBPX         2
BTCUSDC         2
DAI           102
EOS            90
ETH            92
ETHEURX         3
ETHGBPX         1
ETHTRX          2
EURXBTC         2
EURXETH         2
HUSD            1
LINK           75
LINKUSDC        1
LTC            98
LTCBTC          1
LTCUSDC         1
NEXO          595
NEXOBNB         6
NEXOBNBETH      2
NEXOBNBUSDC     1
NEXOBTC         5
NEXOETH         1
NEXOUSD       291
PAX           211
PAXG           23
PAXTRX          1
TRX            25
TRXEURX         2
TRXPAX          2
TUSD           96
USD           547
USDC          172
USDTERC       122
XLM           117
XLMBTC          2
XLMHUSD         1
XLMUSDTERC      3
XRP           123

In [16]:
df0.query("Currency == 'NEXO' ")

,Transaction,Type,Currency,Amount,USD Equivalent,Details,Loan,Date
0,NXTx1hHFv3LCT,Interest,NEXO,0.094201,0.26028008480838,approved / 0.22127317 EURx,3488.49,2021-04-05 01:00:03
1,NXTAXFw7FXTT0,Interest,NEXO,0.054542,0.15070211953524,approved / 0.00007234 ETH,3488.49,2021-04-05 01:00:03
2,NXThKvQuIYaXP,Interest,NEXO,0.022573,0.06236922552042,approved / 0.04511758 GBPx,3488.49,2021-04-05 01:00:03
3,NXT3tJg8TIqBP,Interest,NEXO,0.085492,0.23621660936874,approved / 0.00000403 BTC,3488.49,2021-04-05 01:00:03
5,NXTkP2gZEBd8O,Interest,NEXO,0.096329,0.2602017378224,approved / 0.22127317 EURx,3487.92,2021-04-04 01:00:03
...,...,...,...,...,...,...,...,...
3019,NXTkumM5557JB,Deposit,NEXO,65.430911,5.6241793661461,approved / 0x5b9f16c23c5a726a3e0d501381b03ac5a...,0.00,2019-10-03 14:57:22
3050,NXTxJ0kdD9AhM,Deposit,NEXO,51.312516,4.6017577743003,approved / 0xd2678dcbf0ad8bd118bc6c27faa7777da...,0.00,2019-09-15 08:12:34
3068,NXTSYWd24Tfd8,Deposit,NEXO,144.886754,10.179888250196,approved / 0x4a4b4254bc2952f071804c386032f51ab...,0.00,2019-09-02 21:15:14
3095,NXTaiDbcyrIv6,Deposit,NEXO,122.307863,10.149106477549,approved / 0xa1c4efdf2f5470cb9d604f64c9a36a1d3...,0.00,2019-08-12 03:59:49
3102,NXTNd8Wv0W5lM,Deposit,NEXO,48.331539,4.2116102666328,approved / 0xbd5386bc4e8fc664305cb52aa85c660bc...,0.00,2019-08-07 20:35:17

In [17]:
df0.to_csv('dfnexo.csv')

In [18]:
y1 = np.array(df0['Loan'])

In [19]:
np.median(y1)

666.81

In [20]:
np.mean(y1)

1065.6092055323254

In [21]:
np.max(y1)

3674.15